
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/peerlearn_pilot/peerlearn_pilot.css">
    <title>Learning Materials</title>
</head>

<body>


{% for error in errors %}
    <div class="error">
        {{error}}
    </div>
{% endfor %}

<div class="welcome">{{learner.username}}, Welcome to the learning materials, please read the following paragraphs about energy types carefully.</div>




<form action="/peerlearn_pilot/task" method="GET">

    <input type="submit"  value = "Next Step">
</form>

</body>
</html>
