
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/peerlearn_pilot/peerlearn_pilot.css">
    <title>Learning Materials</title>
</head>

<body>


{% for error in errors %}
    <div class="error">
        {{error}}
    </div>
{% endfor %}

<div class="welcome">{{learner.username}}, on this page, you'll take a look at the task your classmates worked on.</div>




<form class="add-form" action="/peerlearn_pilot/feedback" method="get">

    <input type="submit"  value = "Next Step">
</form>

</body>
</html>
