<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://rawgit.com/marinawang/peerlearn_pilot/master/peerlearn_pilot/static/peerlearn_pilot/peerlearn_pilot.css">
    <title> Give Feedback to Your Peers</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://rawgit.com/marinawang/peerlearn_pilot/master/peerlearn_pilot/static/mturk.js" type="text/javascript"></script>
</head>

<body>
    {% for error in errors %}
    <div class="error">
        {{error}}
    </div>
    {% endfor %}
    
<div class="welcome">Give Feedback to Your Peers</div>

<div id="instructions">
<p>Here is the step-by-step overview of this task. In the task you're required to <b>provide feedback</b> on an assignment done by your hypothetical classmate. </p>
<p>We will walk you through some preparations before you write the feedback.</p>
<p>1. First step: you'll read some instructions on how to provide good feedback. </p>
<p>2. Second step: you'll read learning materials of 4 energy types. </p>
<p>2. Third step: you'll read the task your classmates have worked on. </p>
<p>4. Fourth step: you'll <b>write feedback</b> to your peer's assignment.</p>
<p>5. Last step: you'll get a code to submit the HIT.</p>
<p><br></p>
<!-- <p><a href="#learning" class = "label">Begin the Task</a></p> -->
</div>
<p><br></p>

<div id="feedback">
<h class="title">Step 1: Read instructions on how to provide feedback </h>
<p class="firstparagraph"><br>
<b>General tips for giving good feedback:</b><br></p>
<p id="coal">
There are two very important parts to giving good feedback. <b>First, give very specific comments rather than vague comments</b>: Point to exact places that were problematic; give examples of general problems that you found; be clear about what exactly the problem was; explain why it was a problem, etc. <b>Second, make your comments helpful.</b> The goal is not to punish the writer for making mistakes. Instead your goal is to help the writer improve his or her paper. You should point out problems where they occur. But don’t stop there. Explain why they are problems and give some clear advice on how to fix the problems. Also keep your tone professional. No personal attacks. Everyone makes mistakes. Everyone can improve writing.
</p>
<p class="firstparagraph">
<b>Now you’re asked to provide feedback on your peer’s work from the following three dimensions. Here is a brief summary of the three dimensions, and we will explain them in detail later.</b><br>
<ol id="proposal">
    <li id="point">Clarity of the arguments</li>
    This dimension relates to whether the writing flows smoothly so that you can easily understand the arguments the author is trying to make.
    <li id="point">Logic of the arguments</li>
    This dimension relates to the reasoning of the author, for example whether the author provides evidence to support his argument, and whether the evidence provided justifies the argument.
    <li id="point">Acuracy and adequacy of arguments</li>
    This dimension relates to whether the information included is correct, whether the author considers different perspectives or tradeoffs in making a claim, in contrast to where a claim is made on a single point.
</ol>


<p><br></p>
<!-- <p><a href="#response" class = "label">Next step</a></p> -->
</p>
</div>
<p><br></p>
<div id="learning"> 
<h class="title">Step 2: Learn about 4 types of energy</h>
<h2 class = "firstparagraph">Please take 10 mins to read the following 4 paragraphs.</h2>
<p id= "coal"><b>Coal energy</b> refers to power produced by coal burning generators or industrial applications using large amounts of coal for heat, including steel manufacturing. Coal is a mineral found in abundance in most parts of the world, thus it is an economical energy source.<br><br>
<i>Pros of coal energy</i><br><br>
Coal is cheap and plentiful in many areas of the world, including Europe and North America. Coal deposits are typically located close to the surface and cover large areas, allowing many coal mines to operate for decades using relatively safe and inexpensive mining techniques.<br><br>
<b>Large deposits of coal available</b><br>
There are plentiful coal supplies in Western countries for many decades, which can be used for power generation and manufacturing use. This fact helps decrease the dependence on Middle Eastern oil. The United States has massive coal deposits, many of which have been mined for years with no end in site.<br><br>
<b>Safe and easy to store</b><br>
Coal is very stable and can be stored and transported safely. Oil, natural gas, hydrogen and other volatile fuels can be explosive and must be handled and stored carefully.<br><br>
<b>Easily converted to energy</b><br>
Coal production doesn’t require extensive secondary technologies to produce a useable fuel. Coal obtained directly from the mine is a very effective fuel for both the generation of electricity and in the manufacturing of steel.<br><br>
<b>New technologies allows greater use and application</b><br>
Powdered, gaseous and liquid coal products have been developed that burn cleaner and hotter than conventional coal.<br><br>
<i>Cons of coal energy</i><br><br>
Coal is a major source of several pollutants including carbon dioxide, a green house gas, and sulfur dioxide, a component of acid rain.<br><br>
<b>Speeds up global warming</b><br>
Coal use in industry and power production is one of the major contributors to global warming by the industrial world. Both the heat from burning the coal and the greenhouse gases released during combustion are counted as major factors in the global warming crisis.<br><br>
<b>Polluting chemicals that are dangerous for health</b><br>
Other toxins are released from the burning of coal that can be dangerous to the health of nearby populations. People with asthma are particularly sensitive to many of these pollutants.<br><br>
<b>It is still non-renewable</b><br>
While coal reserves exist that will last for many decades, it is a non-renewable fossil fuel and will eventually be consumed. Coal is produced over eons of time under extreme conditions. It can’t be synthesized from contemporary carbon sources.<br><br>
<b>Devastating environmental effects</b><br>
Coal mining techniques are often very damaging to the surrounding natural habitats. Strip mining is one of the most environmentally devastating mining procedures, is a common way of getting at coal deposits.<br><br>
<b>Mining accidents</b><br>
While coal is located close to the surface, maintaining a stable mine structure requires leaving valuable coal intact. The urge to cut the safety factor as close as possible makes coal mines prone to cave ins and this can lead to the lost of human lives.<br><br>
<b>Transportation of coal can be costly</b><br>
While coal can be transported safely, it is a very heavy and bulky load. Providing coal supplies to areas where coal is not available is very expensive. Much of the world’s coal supply is moved over water, especially between large exporting countries like Australia to large importing countries like China.<br><br>
</p>
<p><br></p>
<p id= "coal">
<b>Wind energy</b> refers primarily to electrical power created by wind powered generators.<br><br>
<i>Pros of wind energy</i><br><br>
Wind energy is more consistent than solar energy in many areas, since the wind blows at night as well as in the daytime.<br><br>
<b>Low startup cost</b><br>
Wind energy is the cheapest form of new electricity generation available today. Wind power is more expensive than power from old, established power plants, but is cost competitive with any new power plant.<br><br>
<b>Works everywhere there is enough wind</b><br>
Unlike hydroelectric energy, which requires very specific geographical conditions to work, wind turbines can be set up nearly anywhere. Both urban and rural areas can make use of wind energy.<br><br>
<b>Great for remote areas</b><br>
Wind generators are self sufficient, and can be set up anywhere there is a fairly constant breeze. That makes them very useful in remote areas where it is difficult or expensive to deliver electrical power from conventional generating plants.<br><br>
<b>By the way, its clean</b><br>
Wind energy is clean and renewable, with no polluting byproducts.<br><br>
<b>Durable and efficient</b><br>
Modern wind turbines are very durable and efficient, capable of delivering clean power in a variety of wind conditions for years with minimal maintenance.<br><br>
<b>Can be stored or used for other purpose</b>
Wind power is also used for mechanical purposes, primarily to pump water uphill into reservoirs or storage tanks. This water can later be used for drinking, irrigation or manufacturing. It can also be run through water turbines to generate electrical power.<br><br>
<i>Cons of wind energy</i><br><br>
The wind is far from constant in most areas of the world. Calm days and nights will provide little if any electrical power. Like solar power, electricity generated from wind power must be stored or used to supplement the electricity supplied by more conventional methods.<br><br>
<b>Takes a lot of wind to make it economical</b><br>
It takes a lot of wind turbines to make significant amounts of electrical power. This usually results in large scale operations called turbine farms, which have some negative aspects: Turbine farms take up a lot of land area, which can’t be effectively used for other purposes. Turbine farms can disrupt the normal wind and weather patterns of the area, affecting rainfall. Wind turbines are a hazard to birds, especially when located in migratory paths.<br><br>
<b>Higher maintenance cost</b><br>
Wind turbines require more maintenance than other kinds or renewable electrical generation systems. It must be kept free of ice and snow in colder climates, and must be well lubricated at all times. It is estimated that maintenance may cost between 20%-25% of total average cost per kWh produced and it goes up as the wind turbine gets older.<br><br>
<b>Can get damaged from strong winds</b><br>
High winds can have an adverse affect on wind turbines, causing them to become damaged from the excessive stress. Wind turbines in areas where tornadoes, hurricanes and severe thunderstorms are common are likely to have a fairly short working life.<br><br>
<b>It is noisy</b><br>
Wind turbines are noisy, especially in large scale installations. The sound pollution created by a turbine farm can be very difficult to live with.<br><br>
<b>Going offshore adds more cost</b><br>
Many find placing turbine farms offshore or in remote areas a good solution for these problems, but that still makes transmission of the power an issue that must be overcome.<br><br>
<b>Not easy to install for urban areas</b><br>
Where most homes can make use of solar panels for heating or generating electricity, properties in urban areas can’t easily install an effective wind power system.<br><br>
</p>
<p><br></p>
<p id = "coal">
<b>Nuclear energy</b> has some significant advantages over other traditional energy resources. It produces less pollution than other sources of energy and it reduces the levels of CO2 released into the atmosphere for each unit of energy produced in comparison to other sources of energy that rely on fossil fuel or coal to provide power. The energy obtained is by far more intense than other sources, nuclear energy is economical in the long run.<br><br>
<i>Pros of nuclear energy</i><br><br>
<b>Cost effective</b><br>
Because of the fact that nuclear power produces more energy with less effort, it is therefore more cost competitive<br><br>
<i>Cons of nuclear energy</i><br><br>
On the other hand, nuclear energy has certain disadvantages too. The by-product of nuclear energy, which is a toxic waste, is a major problem for nuclear energy. It takes great effort to safely and properly store the waste and this is why the storage costs are extremely high, thus adding up to the final price paid for this type of energy. The planning and construction for a nuclear power plant takes about 10 to 30 years, so this cannot be considered as a fast and cheap way to obtain energy.<br><br>
<b>Accidents can happen</b><br>
For safety reasons, radioactive toxic waste has to be stored in a safe, secure place for the next 10,000 years. The risk of accidents is very likely too as Chernobyl is an example of how accidents can occur. A single, minuscule perforation in one of the storage tanks can mean disaster for thousands of years. The consequences from an accident in one of these power plants are enormous if compared to accidents in a coal plan for instance. The disaster would mean permanent radioactivity on the ground, which is the case for Chernobyl.<br><br>
<b>Not built for sustainability</b><br>
The main element needed to produce nuclear energy is Uranium. It is said that total deposit of Uranium available underground can only last for about 60 to 250 years, so nuclear power is not really a permanent, sustainable source of energy.<br><br>
</p>
<p><br></p>
<p id="coal">
<b>Hydroelectric energy</b> refers to plants that generate electricity by causing huge amounts of water from a river or waterfall to flow through turbines.<br><br>
<i>Pros of hydroelectric energy</i><br><br>
If properly designed and situated, a hydroelectric plant can generate consistent levels of power day and night, regardless of the weather. Thus hydro power is a reliable energy source. This is in contrast to wind and solar power which depend on proper conditions to generate electricity.<br><br>
<b>Clean and renewable power</b><br>
Their operation is cleaner and less of a threat to the environment than fossil fuel or nuclear powered plants. They don’t consume fuel at all, but use gravity and the natural flow of water to generate power, thus making hydroelectric power a very renewable power source.<br><br>
<b>Source of fresh water</b><br>
The reservoirs used by many plants to maintain a stable water supply for generating electricity are also used for recreational purposes by local residents and tourists. Reservoirs can also supply the surrounding region with a ready supply of water for drinking, irrigation, agricultural and manufacturing purposes.<br><br>
<b>Opening up commercial shipping routes</b><br>
Changes to the water flow of the selected river can enhance commercial uses. In many cases, the hydroelectric project has opened waterways to commercial shipping that previously had been too shallow to handle the larger ships. One good example is the Three Gorges Dam in China, which opened up shipping routes into rural China.<br><br>
<i>Cons of hydroelectric energy</i><br><br>
Hydroelectric plants are very expensive to build, especially if a particularly wide dam structure is to be used to control the water flow.<br><br>
<b>The local environment is severely impacted</b><br>
Entire habitats can be either flooded or dried out by the changes required to redirect the water. Farms, towns and even cities must often be abandoned to make way for new river channels, reservoirs and the plant itself.<br><br>
<b>Pollution from water flow</b><br>
Changes in the water flow can cause pollution to build up in areas of the rivers feeding the plant that were previously clean and usable. Plants buried under the water will rot, releasing many greenhouse gasses.<br><br>
<b>Disturbing natural scenery</b><br>
Due to shipping safety concerns, the plant and the accompanying dam are often placed in remote locations. Wilderness enthusiasts feel that these artificial structures detract from the natural scenery.<br><br>
<b>Possible flash flood</b><br>
The dams employed by most hydroelectric plants to contain and control the water can bust, causing a devastating flash flood in the lowlands below.<br><br>
<b>Temporary water supply issues</b><br>
Creating most hydroelectric plants creates significant changes to the local water table. This can affect irrigation and water supplies for hundreds of miles around the plant.<br><br>
<b>Large water reservoirs and earthquakes</b><br>
The use of large scale reservoirs has lead many experts to believe that it can cause earthquakes. There is no way to predict what effect relocating and concentrating so many millions of tons of water will have on local tectonic activity. Many believe that it could caused previously stable plates to shift, creating a severe earthquake.<br>
<p><br></p>
<!-- <p><a href="#task" class = "label">Next step</a></p> -->
</div>
<p><br></p>
<div id="task">
<h class="title">Step 3: Read the task your classmates worked on</h>
<p><br></p>
<p id="proposal">

<b>Your classmates have written an assignment based on the instructions as belows. Please read the task so that you know what to expect in your peer's assignment.</b>
<br><br>
In this task, please recommend a way of distributing resources across energy types for the administration of City A. City A requires 12,000,000 MWh electricity a year from four types of energy sources: coal power, wind power, nuclear power and hydro power. We have provided 4 different plans to choose from, each of which emphasizes one energy source as primary. Specifically the plans describe how much energy should be generated from each of the four energy sources, listed in the table below. You need to choose a plan that is the best way of meeting the assigned goals, given the city's requirements and information below. Please write an energy proposal based on the plan you chose, with supporting arguments and evidence. Make sure to consider as many requirements mentioned below as possible and consider tradeoffs of different plans.<br><br>
</p>

<ol><b>Citi A's requirements and information:</b>
<li>City A has a tight yearly energy budget of $900,000,000.
Coal power costs $30/MWh. Nuclear power costs $90/MWh. Wind power costs $80/MWh. Hydro power costs $110/MWh.</li>
<li>The city is concerned with chemical waste. If the main energy source releases toxic chemical waste, there is a waste disposal cost of $2/MWh.</li>
<li>The city is a famous tourist city for its natural bird habitats.</li>
<li>The city is trying to reduce greenhouse gas emissions. If the main energy source release greenhouse gases, there will be a "Carbon tax" of $10/MWh of electricity.</li>
<li>The city has several large hospitals that need a stable and reliable energy source.</li>
<li>The city prefers renewable energy. If renewable energies generate more than 30% of the electricity, there will be a renewable tax credit of $1/MWh for the electricity that is generated by renewable energies.</li>
<li>The city prefers energy sources whose cost is stable.</li>
<li>The city is concerned with water pollution.</li>
<br><br>

</ol>
<table id="requirements">
    
<tr>
   <td><b>Energy Plan</b></td> 
   <td><b>Cost</b></td> 
   <td><b>Waste disposal cost</b></td> 
   <td><b>Carbon tax</b></td> 
   <td><b>Renewable tax credit</b></td> 
   <td><b>Total</b></td> 
</tr>
<tr>
    <td><b>Plan1.</b> Coal:40% Wind:20% Nuclear:20% Hydro:20%</td>
    <td>$816,000,000</td>
    <td>$14,400,000</td>
    <td>$48,000,000</td>
    <td>$9,600,000</td>
    <td>$868,800,000</td>
</tr>

<tr>
    <td><b>Plan2.</b> Coal:20% Wind:40% Nuclear:20% Hydro:20%</td>
    <td>$936,000,000</td>
    <td>$0</td>
    <td>$0</td>
    <td>$14,400,000</td>
    <td>$921,600,000</td>
</tr>

<tr>
    <td><b>Plan3.</b> Coal:20% Wind:20% Nuclear:40% Hydro:20%</td>
    <td>$960,000,000</td>
    <td>$14,400,000</td>
    <td>$0</td>
    <td>$9,600,000</td>
    <td>$964,800,000</td>
</tr>

<tr>
    <td><b>Plan4.</b> Coal:20% Wind:20% Nuclear:20% Hydro:40%</td>
    <td>$1,008,000,000</td>
    <td>$0</td>
    <td>$0</td>
    <td>$14,400,000</td>
    <td>$993,600,000</td>
</tr>
</table>

<p><br></p>
<!-- <p><a href="#feedback" class = "label">Next step</a></p> -->
</div>
<p><br></p>

<div id="response">
    
<h class="title">Step 4: Write feedback to your peers!</h></div>

<div id="display">
<b>Assignment by "Tom":</b><br>
I recommend Plan B because it costs the least. Although we want a cleaner energy we still go with Plan B for the lower cost without wasting the reoccurring cost of waste disposal. Thus we can save more money and help the environment in the long run.
</div>
<form id="responseform" ="add-form" action="/peerlearn_pilot/provide_info" method="post">

<div id="display2"><b>Your response:</b><br><br>

<b>1. Clarity of arguments:</b>
Please check whether the writing flows smoothly so you can follow the main argument. You can ask yourself questions like, can you find the main points? Are the transitions from one point to the next harsh, or do they transition naturally? Is the author jumping between points? Does the ordering of points make sense?<br><br>
<i> Your comments:</i> First summarize what you perceived as the main points being made so that the writer can see whether the readers can follow the paper’s arguments. Then make specific comments about what problems you had in understanding the arguments and following the flow across arguments. Be sure to give specific advice for how to fix the problems and offer encouragement for observed strengths that contributed positively to the writing.<br><br>


<textarea name="clarity" rows="12" cols="50" form=responseform class="repsponsetext">{{clarity}}</textarea> 
<br><br>

<b>2. Logic of arguments:</b>
Please check whether the reasoning made is easily understandable so that you know why the author made such decisions and what evidence supports them. You can ask yourself questions such as: Did the author just make some claims, or did the author provide some supporting arguments or evidence in support of those claims? Did the supporting arguments effectively support the claims being made? Or were they irrelevant or contradictory to the claim being made? Did the author consider obvious counter-arguments, or were they ignored? <br><br>
<i> Your comments:</i> Provide specific comments about the logic of the author’s argument. If points were just made without support, describe which ones need support. If the support provided doesn’t make logical sense, explain why and how that issue can be addressed. If some obvious counterargument was not considered, explain what that counter-argument is. In all cases, offer potential fixes to these problems if you can think of any. This might involve suggesting that the author change their argument.<br><br>


<textarea name="logic" rows="12" cols="50" form=responseform class="repsponsetext" >{{logic}}</textarea> 
<br><br>
<b>3. Accuracy and adequacy of arguments:</b>
Please check whether the information the author included is correct and whether the author has considered enough factors in making the decision, so that no critical factor is ignored. You can ask yourself questions such as: Did the author provide any information that is untrue or inaccurate? Did the author leave out important information? Did the author consider different factors that could play a role in a city’s energy plan? Did the writer introduce any new knowledge beyond what the materials provide? <br><br>
<i> Your comments:</i> Provide specific comments about the adequacy and accuracy of the author’s arguments. If any information is contradictory to what is learnt from the materials, try to point that out and correct it if you can. If you can think of any other factors that could play a role in a city’s energy management, it’s always a great idea to include different perspectives and provide extra information.<br><br>


<textarea name="accuracy" rows="12" cols="50" form=responseform class="repsponsetext">{{accuracy}}</textarea> 
<br><br>

<!-- <input id="workerid" type="text" name="mturkid" value = "workerid" hidden>
 -->
MturkID: <input type="text" name="mturkid" placeholder="please enter your MturkID">{{mturkid}}
<br><br>


<input type="submit" text="Submit" value = "Submit" id="submit">
{% csrf_token %}


</form>
</div>
</body>
</html>
